<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection</title>
    <style>
        p {
            width: 70%;
            margin: 20px auto;
            text-align: justify;
            line-height: 1.6;
        }
        button {
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            margin: 10px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<center>
    <h2>Welcome to Emotion Detection</h2>
    <p>
        Human emotion classification plays a pivotal role in understanding interpersonal communication and human-machine
        interaction. Recognizing emotions can provide profound insights into an individual's state of mind, facilitating
        improved mental well-being, enhanced user experiences, and more effective communication strategies. In fields
        ranging from healthcare to entertainment, the ability to accurately detect and respond to human emotions can
        revolutionize the way we interact with technology and each other. Our Emotion Detection system harnesses
        advanced algorithms to provide real-time emotion analysis, bridging the gap between human emotions and
        technological responsiveness.
    </p>
    <button>
        <a href="/predict">Go to Camera Page</a></button>
</center>
</body>
</html>
